<% content_for :meta_tags do %>
  <% if result_image.present? %>
    <meta property="og:url"                 content="<%= query_url( query: params[:query] ) %>" />
    <meta property="og:type"                content="website" />
    <meta property="og:title"               content="DetetiveVirtual - <%= true_or_fake %>" />
    <meta property="og:description"         content="<%= (link.present? ? "Você pode encontrar mais informações nesse link: #{link}" : "Te avisamos mesmo, é sério!") %>" />
    <meta property="og:image:type"          content="image/jpeg" />
    <meta property="og:image:width"         content="480" />
    <meta property="og:image:height"        content="360" />
    <meta property="og:image"               content="<%= image_url "#{result_image}.jpg" %>" />
    <meta property="og:image:secure_url"    content="<%= image_url "#{result_image}.jpg" %>" />
  <% end %>
<% end %>

<h1><%= true_or_fake %></h1>
<%= image_tag "#{result_image}.jpg" %>
<% if link.present? %>
  <p>Você pode encontrar mais informações nesse link: <%= link_to link, link %></p>
<% end %>
