<% content_for :meta_tags do %>
  <% if result_image.present? %>
    <meta property="og:url"                 content="<%= query_url( query: params[:query] ) %>" />
    <meta property="og:type"                content="website" />
    <meta property="og:title"               content="Detetive Digital - <%= true_or_fake %>" />
    <meta property="og:description"         content="<%= (link.present? ? "Você pode encontrar mais informações nesse link: #{link}" : "Te avisamos mesmo, é sério!") %>" />
    <meta property="og:image:type"          content="image/jpeg" />
    <meta property="og:image:width"         content="480" />
    <meta property="og:image:height"        content="360" />
    <meta property="og:image"               content="<%= image_url "#{result_image}.jpg" %>" />
    <meta property="og:image:secure_url"    content="<%= image_url "#{result_image}.jpg" %>" />
  <% end %>
<% end %>

<div class="query-area">
  <h1><%= true_or_fake %></h1>
  <%= image_tag "#{result_image}.jpg" %>
  <% if link.present? %>
    <p>
      <h4>Você pode encontrar mais informações nesse link: </h4>
      <%= link_to link, link %>
    </p>
  <% end %>
  <div class="fb-button-row">
    <div class="fb-share-button" data-href="<%= query_url( query: params[:query] ) %>" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= query_url( query: params[:query] ) %>&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>
  </div>
</div>
